div.item-detail > div > h3{
    font-size: 2.5rem;
    margin: 0.5rem 5rem;
}
div.item-detail > div > img{
    max-height: 500px;
    max-width: 500px;
}
.c-red{
    color: #e83630 !important;
}
p.item-description{
    font-size: 1.5rem;
    padding: 3rem;
}
p.item-stock{
    font-size: 1.2rem;
}
.end-shopping{
    height: 3.5rem;
    font-size: 1.5rem;
}