#cartList > thead > tr > th {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
#cartList > tbody > tr > td,
#cartList > tbody > tr > th,
tfoot > tr > td {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}
td.remove-item > span:hover {
  cursor: pointer;
  color: #e83630;
  transition: all calc(200 * 1ms) cubic-bezier(0.42, 0.01, 0.58, 1);
}
.btn-clear {
  width: 180px;
  height: 3rem;
  font-size: 1.5rem;
}
.btn-clear:hover{
    color: #e83630;
    transition: all calc(200 * 1ms) cubic-bezier(0.42, 0.01, 0.58, 1);
}
