.productContainer{
    width: 25%;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.productContainer:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
a > .productImage{
    max-height: 280px;
}
.productImage > img {
    max-height: 100%;
    max-width: 100%;
}
.productContent{
    padding: .5rem;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
}
.productButtons{
    padding-top: .5rem;
    justify-content: space-between;
}
h3.productName > a{
    font-size: 1.7rem;
    font-weight: 600;
    color: #262528;
}
h3.productName > a:hover, .addToCart > p:hover {
    color: #e83630;
    transition: all calc(200 * 1ms) cubic-bezier(.42,.01,.58,1);
}
.productInfo > span{
    font-size: 1.4rem;
    letter-spacing: .05rem;
    color: #e83630;
}
.addToCart{
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    align-items: center;
}
button.addToCart:hover{
    color: #e83630;
    transition: all calc(200 * 1ms) cubic-bezier(.42,.01,.58,1);
}
.addToCart > svg:hover{
    stroke: #e83630;
    transition: all calc(200 * 1ms) cubic-bezier(.42,.01,.58,1);
}