.navbar {
  background-color: #262528;
  padding: 22px 30px;
  height: 100px;
  align-items: center;
}
.navbar > a > svg {
  margin: .5rem;
}
.main-nav-items > li > a {
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: .1rem;
}
.main-nav-items > li > a:hover{
    color: #e83630;
    transition: all calc(200 * 1ms) cubic-bezier(.42,.01,.58,1);
}
.navbar > a > h1 {
  color: white;
  font-weight: 600;
  font-size: 2rem;
}
.navbar > a > h1 > span{
    color: #e83630;
}
.nav-item {
  margin: 0.25rem 1rem;
}
.main-nav-items {
  width: 65%;
  justify-content: center;
}
.user-logo{
  background-color: transparent;
  border: none;
  padding: 1rem;
}
.icon-tabler-user:hover{
  stroke: #e83630;
}