.navbar {
  background-color: #262528;
  padding: 22px 36px;
  max-height: 75px;
  align-items: center;
}
.main-nav-items li{
  color: white;
  font-weight: 700;
  font-size: 1.15rem;
  letter-spacing: .1rem;
}
.main-nav-items li:hover{
    color: #e83630;
    transition: all calc(200 * 1ms) cubic-bezier(.42,.01,.58,1);
}
.navbar > a > h1 {
  color: white;
  font-weight: 800;
  font-size: 1.9rem;
  padding-left: 1rem;
}
.navbar > a > h1 > span{
    color: #e83630;
    font-weight: 800;
}
.nav-item {
  margin: 0.25rem 1rem;
}
#navbarSupportedContent1 {
  width: 60%;
  justify-content: center;
}
nav > button.navbar-toggler {
  background-color: white;
}