* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  color: #262528;
}
a {
  text-decoration: none !important;
}
li {
  list-style: none;
}
h2 {
  font-weight: 600;
  font-size: 1.7rem;
}
.myContainer {
  margin: 2rem 5rem !important;
}
.ms-7 {
  margin-left: 5rem !important;
}
div#root {
  display:flex; 
  flex-direction:column;
  height: 100vh;
}
.btn-show:focus {
  box-shadow: 0 0 0 0;
}
.modal-dialog {
  max-width: 800px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
::-webkit-scrollbar {
  display: none;
}
.account{
  width: 25%;
}
.account > li{
  font-size: 1.5rem;
}
.account > li:hover{
  color: #e83630;
  cursor: pointer;
}
.red{
  color: #e83630 !important;
}