* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  color: #262528;
}
a {
  text-decoration: none !important;
}
li {
  list-style: none;
}
/* Declaraciones tipo Bootstrap flex */
.d-flex {
  display: flex !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-row {
  flex-direction: row !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.justify-content-center {
    justify-content: center !important;
}
.justify-content-end {
    justify-content: end !important;
}
.justify-content-start {
    justify-content: start !important;
}
.align-content-center {
    align-content: center !important;
}
.align-items-center {
    align-items: center !important;
}