#itemCounter{
    align-items: center;
    font-size: 1rem;
}
#itemCounter > button{
    width: 2.6rem;
    text-align:center;
    height:100%;
    border: 1.9px solid #262528;
    background-color: transparent;
    font-size: 1rem;
}
#itemCounter > .operations{
    width:1.2rem;
}
.buttons-details{
    padding: 0 3rem;
}
.buttons-details #itemCounter button, .buttons-details > button{
    height: 3.5rem;
    font-size: 1.5rem;
}
.buttons-details #itemCounter > .operations{
    width: 2.5rem;
}
.buttons-details #itemCounter > button {
    width: 3.8rem;
}